<html>
  <body>
    </form>

    <form class="grid" action="/output" method="POST" enctype="multipart/form-data">

      <label for="supp" >Minimal Support:</label>
      <input type="number" id="minSupp" name="minSupp" value="10"><br><br>
       
      <input type="file" id="myfile" name="myfile">
     

      <input class="file_submit" type="Submit">

      {% if temp %}
        <center>
          <h3 class="let_space">{{temp}}!</h3>
        </center> 

      {% endif %}

    </form>


  </body>
</html>
